

/* Constant Style */

.inline-form {
	display: inline-block;
}


.inline-input {
	display: inline;
	width: 200px;
	margin-right: 50px;
	margin-left: 20px;
}
.inline-label {
	display: inline;
}
.hint {
	color: grey;
	font-size: 12px;
	display: inline;
}

.js-error {
	display: none;
	font-size: 13px;
	color: red;
	margin-left: 10px;
	font-weight: bold;
	margin-top: 5px;
}

/* Jobs Style */

.job {
	margin-bottom: 20px;
}

.job .card {
	margin-left: 10px;
	margin-right: 10px;
}


