

/* Constant Style */

.inline-form {
	display: inline-block;
}


.inline-input {
	display: inline;
	width: 200px;
	margin-right: 50px;
	margin-left: 20px;
}
.inline-label {
	display: inline;
}
.hint {
	color: grey;
	font-size: 12px;
	display: inline;
}

.js-error {
	display: none;
	font-size: 13px;
	color: red;
	margin-left: 10px;
	font-weight: bold;
	margin-top: 5px;
}

.text-grey {
	color: #b5b7b9;
}
/* Jobs Style */

.job {
	margin-bottom: 20px;
}

.job .card {
	margin-left: 10px;
	margin-right: 10px;
}

.job-about .about-list li{
	display: inline;
}
.job-description, 
.job-about,
.job-skills,
.job-requirements,
.job-responsibility {
	margin-top: 50px;
	margin-bottom: 30px;
}

.job-skills ul,
.job-requirements ul,
.job-responsibility ul {
	margin-top: 20px;
}

.job-about div.row {
	margin-top: 30px;
}
.job-about div div h5:nth-child(2) {
	font-weight: bold;
}
h4.card-subtitle {
	margin-left: 10px;
	margin-top: 20px;
	opacity: .8;
}
.job-description p {
	margin-left: 20px;
	margin-top: 20px;
	font-size: 15px;
	font-weight: 500;
}
/* Admin Profile */

form.hidden {
	display: none;
}


/* Applications */

.all-applications {
	margin-top: 20px;
}

.all-applications .application {
	margin-left: 10px;
}

.all-applications .application .card .card-body .application-time {
	color: grey;
	font-size: 10px;
	margin-bottom: 2px;
}

.all-applications .application .card .card-footer {
	padding: 5px;
}
.all-applications .application .card .card-title {
	font-size: 11px;
}
.all-applications .application .card .card-text {
	font-size: 13px;
}

.all-applications .application .card .card-body .card-title a {
	font-size: 15px;
}

.application-questions {
	margin-top: 10px;
	border-top: 1px solid green;
}