
/* 
	Main Color: #5e72e4;
	Second Color: #eaeaea;

*/
.bg-white {
	background-color: #fff;
}
.bg-grey {
	background-color: #f8f9fe;
}

.js-error {
	display: none;
	font-size: 13px;
	color: red;
	margin-left: 10px;
	font-weight: bold;
	margin-top: 5px;
	float: left;
}
.hidden {
	display: none;
}

/* Navbar */
.en header .header {
	border-bottom: 1px solid rgb(217, 221, 228);
}
.en header .header nav .logo {
	font-size: 25px;
	color: #5e72e4;
}

.en header .navbar {
	padding: .5rem 1rem;
	background: #fff;
}

.en header .navbar ul {
	margin: 0;
	margin-right: 50px;
}

.en header .navbar ul li {
	display: inline;
	margin-right: 12px;
	font-size: 19px;
	font-weight: 500;
	font-family: 'Lato', sans-serif;
}
.en header .navbar ul li.active a {
	font-weight: 500;
	color: #a57711;
}
.en header .navbar ul li a {
	color: #525f7f;
	transition: .3s ease-in-out;
}
.en header .navbar ul li a:hover {
	color: #a57711;
}

.en header .btn-login {
	border: 1px solid #5e72e4;
	border-radius: 50px;
	transition: .3s ease-in-out;
	font-size: 15px;
	letter-spacing: 2px;
	padding: 5px 15px;
}
.en header .btn-login:hover {
	transform: none;
	background: #5e72e4;
	color: #fff;
}

.en .search-form {
	position: absolute;
	width: 400px;
	right: 180px;
	top: 58px;
	z-index: 10;
	display: none;
}
.en .search-form input[type="text"] {
	width: 116%;
	border-radius: 0;
}
.en .search-form .fa-arrow-up {
	position: absolute;
	left: 350px;
	top: -5px;
	color: #fff;
}

/* Dropdown Button */
.dropbtn {
	color: #525f7f;
	transition: .3s ease-in-out;
    background-color: #fff;
    border: none;
}
.dropbtn:focus {
	outline: 0px auto -webkit-focus-ring-color;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 30px;
  font-size: 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}


.dropdown-menu {
	min-width: 10rem;
	left: -10px;
} 


/* Main Header */

.en .main-header {
	height: 100vh;
	width: 100%;
	background-image:  linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) ,url('../argon/img/theme/6.jpg');
	background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed;
}

.en .main-header .main-intro {
	padding-top: 150px;
	color: #fff;
}
.en .main-header .main-intro p:nth-child(1) {
	font-size: 50px;
	letter-spacing: 2px;
	font-family: 'Hind Vadodara', sans-serif;
	font-weight: 400;
}
.en .main-header .main-intro p:nth-child(2){
	font-size: 22px;
	margin-top: 20px;
}
.en .main-header .main-intro .btn {
	margin-top: 25px;
	width: 150px;
}
.en .main-header .main-intro p:last-child {
	margin-top: 40px;
	font-size: 16px;
}


/* How it works */

.en #how-it-works {
	margin-top: 50px;
	margin-bottom: 100px;
}

.en #how-it-works h1,
.en #people-say h1,
.en #features h1,
.en #contact h1 {
	font-family: 'lato';
	display: inline-block;
	font-weight: 300;
	font-size: 200%;
	word-spacing: 2px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.en #how-it-works h1:after,
.en #people-say h1:after,
.en #features h1:after,
.en #contact h1:after {
	height: 2px;
    display: block;
    margin: 0 auto;
    background-color: #a57711;;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.en #how-it-works .row div span {
	background: #5e72e4;
    padding: 10px 17px;
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
}

.en #how-it-works .row div h2 {
	font-family: 'lato';
	font-weight: 400;
	margin-top: 20px;
	margin-bottom: 20px;
}
.en #how-it-works .row div p {
	font-weight: 300;
	color: #878787;
}

/* Our Blog  */

.en #our-blog {
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 30px 50px;
	color: #fff;
	width: 100%;
	background-image:  linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url('../argon/img/theme/blog.jpg');
	background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed;
}
.en #our-blog h1 {
	color: #fff;
	font-size: 30px;
}
.en #our-blog p {
	color: #fff;
	font-size: 18px;
	margin-top: 20px;
}
.en #our-blog a {
	margin-top: 50px;
	margin-left: 40%;
	font-size: 17px;
	width: 50%; 
	font-weight: 300;
}


/* people say */

.en #people-say {
	margin-top: 100px;
	margin-bottom: 100px;
}

.en #people-say .row div .card {
	max-height: 330px;
	height: 330px;
	margin-left: 70px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.en #people-say .row div .card .top-section {
	border-radius: 5px 5px 0 0;
	height: 100px;
	background: #5e72e4;
}

.en #people-say .row div .card img {
	position: absolute;
    left: 35%;
    top: 50px;
    border-radius: 100%;
}
.en #people-say .row div .card .card-body h3 {
	margin-top: 45px;
}
.en #people-say .row div .card .card-body p.card-text {
	margin-top: 10px;
}
.en #people-say .row div .card .card-body hr {
	margin: 0;
}
.en #people-say .row .card:nth-child(1) {
	margin-left: 100px;
}


/* Features */

#features {
	margin-top: 50px;
	margin-bottom: 100px;
}

.en #features .row i {
	color: #5e72e4;
	font-size: 40px;
	margin-top: 30px;
}
.en #features .row {
	margin-top: 50px;
}

.en #features h2 {
	font-size: 28px;
	font-weight: 400;
}

.en #features p {
	font-weight: 400;
	font-size: 18px;
	margin-top: 20px;
	color: #878787;
}

/* Contact Form */

.en #contact {
	margin-top: 50px;
	margin-bottom: 50px;
}
.en #contact .contact-form {
	margin-top: 20px;
}
.en #contact .contact-form .btn {
	width: 100px;
}

/* Footer */

