/* 
	Main Color: #5e72e4;
	Second Color: #eaeaea;;
*/



/* Some Constants */

.col-sm-8.jobs {
	padding-left: 0;
}

.inline-form {
	display: inline;
}

hr {
	margin: 5px;
}

.disabled-btn {
	cursor: not-allowed;
}
/* Jobs index */
.all-jobs .jobs-heading {
	margin-top: 50px;
	margin-bottom: 50px;
}
.all-jobs .jobs-heading h1 {
/*	margin-left: 15px;*/
	font-weight: 500;
}

.all-jobs .job {
	padding: 20px;
	border: 1px solid rgb(217, 221, 228);
	margin-bottom: 20px;
}

.all-jobs .job .head h2 {
	font-weight: 500;
}

.all-jobs .job .head h4 {
	margin-left: 5px;
	opacity: .7;
}

.all-jobs .job hr {
	margin: 10px;
}

.all-jobs .job .content {
	margin-top: 20px;
	padding: 5px 20px;
}
.all-jobs .job .content p{
	width: 100%;
}
.all-jobs .job .info span{
	margin-left: 20px;
	opacity: .8;
	font-size: 14px;
	font-weight: 500;
}
.all-jobs .job .info .activated{
	color: green;
}
.all-jobs .job .info .deactivated{
	color: red;
}

.all-jobs .job .actions {
	padding: 5px 20px;
}

/* Recent Cairo */


.recent-cairo,
.recent-alex,
.about-company,
.related-jobs {
	border: 1px solid rgb(217, 221, 228);
}
.recent-cairo {
	margin-top: 140px;
	margin-bottom: 10px;
}

.recent-cairo h2,
.recent-alex h2 {
	margin:0;
	padding:10px;
	font-weight: 600;
	font-size: 16px;
}
.recent-cairo h2 a,
.recent-alex h2 a {
	float: right;
	font-size: 13px;
	padding-top: 2px;
}
.recent-cairo hr,
.recent-alex hr,
.about-company hr,
.related-jobs hr {
	margin: 0;
}
.recent-cairo .job,
.recent-alex .job,
.related-jobs .job {
	margin-bottom: 0px;
	padding: 10px;
}
.recent-cairo .job .date,
.recent-alex .job .date,
.related-jobs .job .date {
	opacity: .7;
	font-size: 13px;
}
.recent-cairo .job .apply,
.recent-alex .job .apply,
.related-jobs .job .apply {
	font-size: 13px;
	margin-left: 10px;
}



/* Single job */

.single-job {
	margin-top: 100px;
	margin-bottom: 50px;
}
.single-job .head,
.single-job .about,
.single-job .description,
.single-job .requirements,
.single-job .responsibility,
.single-job .skills {
	border: 1px solid rgb(217, 221, 228);
	padding: 10px 20px;
	margin-bottom: 10px;
}
.single-job .head .head-title h1 {
	font-weight: 400;
}

.single-job .head .head-title h4 {
	font-weight: 500;
	margin-left: 5px;
	opacity: .8;
}
.single-job .head .apply-btn button{
	width: 100%;
	padding: 10px;
}
.single-job .head .apply-btn form input {
	width: 100%;
	padding: 10px;
}

.single-job .head .apply-btn .row div button + span,
.single-job .head .apply-btn .row div form + span {
	margin-left: 10px;
	font-size: 14px;
}
.single-job .head .apply-btn .row div button + span a,
.single-job .head .apply-btn .row div form + span a {
	font-weight: 600;
}
.single-job .head .apply-btn div.col-sm {
	padding: 10px;
	margin-right: 50px;
}
.single-job .about div div {
	margin-bottom: 15px;
}
.single-job .about div h5:nth-child(2) {
	opacity: .7;
}

.single-job .description p {
	padding: 10px;
	font-weight: 500;
}
.single-job .responsibility p:nth-child(1),
.single-job .requirements p:nth-child(1),
.single-job .skills p:nth-child(1) {
	margin-top: 15px;
}
.single-job .responsibility p,
.single-job .requirements p,
.single-job .skills p {
	margin-bottom: 10px;
	font-weight: 500;
	margin-left: 10px;
}

.single-job .info span{
	margin-left: 20px;
	opacity: .7;
	font-size: 13px;
	font-weight: 600;
}
.single-job .info .activated{
	color: green;
}
.single-job .info .deactivated{
	color: red;
}
.single-job .actions form input {
	width: 100px;
}

.single-job .actions form + span {
	margin-left: 5px;
	font-size: 14px;
}
.single-job .actions form + span a {
	font-weight: 600;
}

.about-company {
	margin-top: 100px;
	margin-bottom: 20px;
}

.about-company h3,
.related-jobs h3 {
	padding: 10px;
	margin:0;
}
.about-company h3,
.related-jobs h3 {
	font-weight: 400;
}

.about-company .content p {
	font-weight: 500;
	font-size: 14px;
}
.about-company .content {
	padding: 10px;
	font-weight: 600;
	font-size: 14px;
}

.related .job div.info {
	margin-top: -20px;
    margin-bottom: 10px;
}

.related .job span {
	padding: 5px;
}
