
/* 
	Main Color: #5e72e4;
    Complement: #e49c5e,
*/

/* Navbar */

.en header .header nav .logo {
	font-size: 25px;
	color: #5e72e4;
}

.en header .navbar {
	padding: .25rem 1rem;
}

.en header .navbar ul {
	margin: 0;
	margin-right: 50px;
}

.en header .navbar ul li {
	display: inline;
	margin-right: 12px;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
}

.en header .btn-login {
	border: 1px solid #5e72e4;
	border-radius: 50px;
	transition: .3s ease-in-out;
	font-size: 15px;
	letter-spacing: 2px;
	padding: 5px 15px;
}
.en header .btn-login:hover {
	transform: none;
	background: #5e72e4;
	color: #fff;
}

.en .search-form {
	position: absolute;
	width: 400px;
	right: 180px;
	top: 50px;
	display: none;
}

.en .search-form .fa-arrow-up {
	position: absolute;
	left: 350px;
	top: -5px;
	color: #fff;
}

/* Main Header */

.en .main-header {
	height: 100vh;
	width: 100%;
	background-image:  linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) ,url('../argon/img/theme/6.jpg');
	background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed;
}

.en .main-header .main-intro {
	padding-top: 150px;
	color: #fff;
}
.en .main-header .main-intro p:nth-child(1) {
	font-size: 50px;
	letter-spacing: 2px;
	font-family: 'Hind Vadodara', sans-serif;
	font-weight: 400;
}
.en .main-header .main-intro p:nth-child(2){
	font-size: 22px;
	margin-top: 20px;
}
.en .main-header .main-intro .btn {
	margin-top: 25px;
	width: 150px;
}
.en .main-header .main-intro p:last-child {
	margin-top: 40px;
	font-size: 16px;
}


/* How it works */

#how-it-works {
	margin-top: 50px;
	margin-bottom: 50px;
}

#how-it-works h1 {
	font-family: 'lato';
	display: inline-block;
	font-weight: 300;
	font-size: 200%;
	word-spacing: 2px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#how-it-works h1:after {
	height: 2px;
    display: block;
    margin: 0 auto;
    background-color: #e49c5e;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#how-it-works .row div span {
	background: #e49c5e;
    padding: 10px 17px;
    border-radius: 50%;
    color: #5e72e4;
    font-weight: 600;
}

#how-it-works .row div h2 {
	font-family: 'lato';
	font-weight: 300;
	margin-top: 20px;
}